<div class="product-page">
    <a href="/">Voltar</a>
    <h1>{{product.name}}</h1>
    <p>Preço: R${{product.price}}</p>
    <img src="{{product.image}}" alt="{{product.image}}">
    <p>{{product.description}}</p>
</div>